* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-top {
    display: flex;
    justify-content: between;
    background-color: rgb(34, 30, 56);
    height: 40px;

}

.header-top .col-7 ul {
    display: flex;

}

.header-top .col-7 ul li {
    list-style: none;
    margin: 10px;
}

.header-top .col-7 ul li a {
    text-decoration: none;
    color: white;
}

.header-top .col-7 ul li a:hover {
    color: #fc5638;
}

.header-top .col-7 ul li i {
    cursor: pointer;
}

.header-top .col-5 ul {
    display: flex;

}

.header-top .col-5 ul li i {
    color: white;
    padding: 10px;
    font-size: 20px;
}

.header-top .col-5 button {
    width: 100px;
    height: 40px;
    background-color: #fc5638;
    color: white;
    margin-left: 20px;
}

.header-middle {
    padding: 30px;
}

.header-middle .col-6 ul {
    display: flex;

}

.header-middle .col-6 ul li {
    list-style: none;
    padding: 10px;
    font-size: 20px;
}

.header-middle .col-3 .icons {
    display: flex;
    font-size: 20px;

}

.header-middle .col-3 .icons i {
    display: flex;
    padding: 10px;
    margin-left: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);

}

.header-middle img {
    cursor: pointer;
}

.header-middle i:hover {
    background-color: #fc5638;
}

.shop-sec img {
    height: 300px;
    width: 100%;

}

.shop-sec {
    position: relative;

}

.shop-sec .txt {
    position: absolute;
    top: 30%;
    left: 15%;

}

.shop-sec ul {
    text-decoration: none;
    display: flex;
    padding-left: 0px;
    margin-top: 30px;
}

.shop-sec ul li {
    list-style: none;
    margin-right: 10px;
}

.shop-sec ul li i {
    color: #fc5638;
    padding-right: 10px;
}

.main-sec {
    padding: 100px;
}

.main-sec .list {
    text-decoration: none;
    display: flex;
    padding-left: 0px;
}

.main-sec .list li {
    list-style: none;

}

.main-sec .list li a {
    color: grey;
    margin: 10px;
}

.main-sec .list li i {
    color: grey;
    margin: 10px;
    font-size: 35px;
}

.main-sec .input-group button {
    background-color: #fc5638;
    color: white;
}

.card .card-body ul {
    display: flex;
    padding-left: 0px;
}

.card .card-body li {
    list-style: none;
    padding-right: 10px;
    margin-top: 10px;
}

.card .card-body li i {
    font-size: 20px;
    background-color: rgb(237, 230, 230);
    color: rgb(209, 202, 202);
    padding: 5px;
}

.card .card-body li i:hover {
    background-color: #fc5638;
}

.pagination {
    width: 70%;
}

.pagination li a,
.pagination li span {
    border-radius: 50% !important;
    margin: 0 5px;
    width: 40px;
    text-align: center !important;
}


.filter-box {
    border: 1px solid rgb(192, 187, 187);
    height: 1500px;
    padding: 40px;
    margin-top: 40px;
}

.filter-box .form-check {
    padding: 10px;
}

.filter-box h4 {
    margin-top: 30px;
}


.range {

    margin-top: 30px;
}

.footer {
    position: relative;
}

.footer-text {
    width: 100%;
    margin: 0 auto;
    height: 200px;
    background-color: #fc5638;
}

/* .footer .footer-txt{
position: absolute;
left: 10%;
right: 40%;
bottom: 50%;
z-index: 1;
} */

.footer-text .text {
    color: white;
    margin: 50px;
}

.footer-text button {
    margin: 50px;
    height: 70px;
    width: 200px;
}

.footer-top {
    background-color: #171B2A;
    ;
    padding: 50px;
    color: white;
    position: relative;

}

.footer-top ul {
    padding-left: 0px;
}

.footer-top .col-3 p {
    padding: 10px;
    text-align: left;
}

.footer-top .col-3 ul li a {
    text-decoration: none;
    color: white;
    margin-left: 7px;

}

.footer-top .col-3 ul li {
    list-style: none;
    padding: 5px;
    text-align: left;
}

.footer-top .col-3 .icons-footer i {
    list-style: none;
    padding: 10px;

}

.footer-top .col-2 ul li {
    list-style: none;
    margin-top: 20px;
    text-align: left;
}

.footer-top .col-3 .input-group {
    height: 60px;
    margin-bottom: 50px;
}

.footer-top .col-3 .input-group .btn {
    background-color: #fc5638;
    color: white;
}

.footer-btm {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #282b38;
    color: white;

}

.footer-btm ul {
    display: flex;
    justify-content: flex-end;
}

.footer-btm ul li {
    list-style: none;
    margin-left: 20px;

}